* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: crimson;
}

main {
    display: grid;
    width: 100%;
    height: 100%;
}

.logo {
    grid-area: logo;
    background-color: white;
    border: 1px solid black;
}

.nav {
    grid-area: nav;
    background-color: white;
    border: 1px solid black;
}

.conteudo {
    grid-area: conteudo;
    background-color: white;
    border: 1px solid black;
}

.categorias {
    grid-area: categorias;
    background-color: white;
    border: 1px solid black;
}

.publicidade {
    grid-area: publicidade;
    background-color: white;
    border: 1px solid black;
}

.rodape {
    grid-area: rodape;
    background-color: white;
    border: 1px solid black;
}

.layout {
    grid-template-areas:
        "logo nav nav"
        "categorias conteudo publicidade"
        "categorias rodape rodape";
}