<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECOMMERCE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
    <header>
        <div class="logo">
            <h1>ECOMMERCE</h1>
        </div>
        <nav>
            <a href="{% url 'home' %}">HOME</a>
            <a href="{% url 'produtos' %}">PRODUTOS</a>
            <a href="{% url 'fornecedores' %}">FORNECEDORES</a>
            <a href="{% url 'sobre' %}">SOBRE</a>
        </nav>
        <div class="login">
            <a href="{% url 'login' %}">Sair</a>
        </div>
    </header>
    <main>
        <aside>
            ANÚNCIO
        </aside>
        <section>
            {% block content %}
            {% endblock %}
        </section>
        <aside>
            ANÚNCIO
        </aside>
    </main>
    <footer>
        <p>&copy;Vinicius - 2022</p>
    </footer>
</body>
</html>