*
{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    width: 100%;
    height: 100%;
}

body
{
    background-color: crimson;
}

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    padding: 30px;
    flex-wrap: wrap;
    background-color: yellow;
    border: 1px solid black;
    margin:0 auto;
}

.conteudo
{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item
{
    flex: 1;
    height: 100%;
    background-color: white;
    border: 1px solid black;
}

.item:nth-child(2)
{
    flex: 2;
}


